<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsLocal" value="other" />
    
    <add key="DefaultPara" value="" />
    <add key="AccountNo" value="370725199012260011" />
    <add key="Password" value="11111111" />

    <add key="AutoGetCToken" value="" />
    <add key="AutoLogin" value="" />

    <add key="ExecPath" value="D:\\Notepad++\\Notepad++.exe" />
    <add key="HelpFilePath" value="C:\\Users\\PangJiaxi\\Desktop\\ParamsHelper.txt" />
  </appSettings>
</configuration>