<?xml version="1.0" encoding="utf-8"?>
<ArrayOfServerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerConfig>
    <Description>LocalWapCustomerTrunk</Description>
    <Url>http://172.16.73.40:33333/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWapCustomerNew</Description>
    <Url>http://61.129.84.232:8002/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalPhoneOld</Description>
    <Url>http://172.16.73.40:45678/Interface/</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalPhoneOldBranch</Description>
    <Url>http://172.16.73.40:45679/Interface/</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemotePhoneOld</Description>
    <Url>http://61.129.84.232/Interface/</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalPos91Trunk</Description>
    <Url>http://172.16.73.40:7448/Pos91</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWapCustomerBranch</Description>
    <Url>http://172.16.73.40:33334/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWebTradeBranch</Description>
    <Url>http://172.16.73.40:11112/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWebCustomerBranch</Description>
    <Url>http://172.16.73.40:3334/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWebTrade</Description>
    <Url>http://61.129.84.210:8003/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWebCustomer</Description>
    <Url>http://61.129.84.210:8002/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWapTradeTrunk</Description>
    <Url>http://172.16.73.40:41111/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWapTradeNew</Description>
    <Url>http://61.129.84.232:8003/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWapBusinessTrunk</Description>
    <Url>http://172.16.73.40:37777/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWapBusinessTrunk</Description>
    <Url>http://172.16.73.40:37777/dqb</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWapBusinessTrunk</Description>
    <Url>http://172.16.73.40:37777/hqb</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>LocalWapBusinessBranch</Description>
    <Url>http://172.16.73.40:37778/dqb</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWapBusinessNew</Description>
    <Url>http://61.129.84.232:8004/home</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWapBusinessNew</Description>
    <Url>http://61.129.84.232:8004/dqb</Url>
  </ServerConfig>
  <ServerConfig>
    <Description>RemoteWapBusinessNew</Description>
    <Url>http://61.129.84.232:8004/hqb</Url>
  </ServerConfig>
</ArrayOfServerConfig>